.certifications
  .header
    .name
    - @courses.each do |c|
      .rotate= c.name
  - @users.each do |u|
    .user
      - certs = u.certifications
      .name
        .pad= u.name
      - @courses.each do |course|
        - cert = certs.detect{|c| c.course_id == course.id }
        - if cert
          - if cert.complete?
            .cert.complete{id: "td_#{cert.id}"}
              = existing_cert(cert.id)
          - elsif cert.in_progress?
            .cert.in-progress{id: "td_#{cert.id}"}
              = existing_cert(cert.id)
          - else
            .cert.incomplete{id: "td_#{cert.id}"}
              = existing_cert(cert.id)
        - else
          .cert.incomplete{id: "td_#{u.id}_#{course.id}"}
            = new_cert(u.id, course.id)
:javascript
  $('#main').css('width', '950px');