.certifications
  .header
    .name
    - @courses.each do |c|
      .rotate= c.name.gsub(/ /, "&nbsp;").html_safe
  - @users.each do |u|
    .user
      - certs = u.certifications
      .name
        .pad= u.name
      - @courses.each do |course|
        - cert = certs.detect{|c| c.course_id == course.id }
        - if cert
          - if cert.complete?
            .cert.complete{id: "td_#{cert.id}"}
              = link_to("&nbsp;".html_safe, "certifications/#{cert.id}/update_progress", method: :put, remote: true)
          - elsif cert.in_progress?
            .cert.in-progress{id: "td_#{cert.id}"}
              = link_to("&nbsp;".html_safe, "certifications/#{cert.id}/update_progress", method: :put, remote: true)
          - else
            .cert.incomplete{id: "td_#{cert.id}"}
              = link_to("&nbsp;".html_safe, "certifications/#{cert.id}/update_progress", method: :put, remote: true)
        - else
          .cert.incomplete{id: "td_#{u.id}_#{course.id}"}
            = link_to("&nbsp;".html_safe, "certifications/gen?user_id=#{u.id}&course_id=#{course.id}", method: :put, remote: true)