%p= link_to "Return to compartments list", compartments_path

= image_tag @compartment.image_src if @compartment.image_src
%br
Items in this compartment:
%ul
  - @compartment.tools.each do |t|
    %li= t.name

= simple_form_for @compartment do |f|
  = f.input :description
  = f.input :image_src
  = f.button :submit