:css
  td {
    text-align: center;
  }

= link_to "Add Run", new_run_path if can? :create, @runs

- day_data = day_stats
%p= "Day of the week most likely to have calls: #{day_data[:most]}"
%p= "Day of the week least likely to have calls: #{day_data[:least]}"
- hour_data = hour_stats
%p= "Hour of day most likely to have calls: #{hour_data[:most]}"
%p= "Hour of day least likely to have calls: #{hour_data[:least]}"

%table{cellspacing: 0}
  %thead
    %th Date
    %th Alarm #
    %th Type
    %th Total time out
    %th # personnel responding
    %th Response time in route
    %th Response time to scene
    %th Alarm time
    %th In route
    %th First arrived
    %th In quarters
  %tbody
    - even = true
    - @runs.each do |run|
      - even = !even
      %tr{class: even ? "even_row": ""}
        %td= run.date.strftime('%D')
        %td= run.alarm_number
        %td= run.run_type.humanize
        %td= pretty_time run.total_time_out
        %td= run.number_of_responders
        %td= pretty_time run.minutes_in_route
        %td= pretty_time run.minutes_to_scene
        %td= run.date.strftime('%R')
        %td= run.in_route_time.strftime('%R')
        %td= run.arrived_time.strftime('%R')
        %td= run.in_quarters_time.strftime('%R')