= javascript_include_tag "http://d3js.org/d3.v3.min.js"
= javascript_include_tag "underscore.js"
= javascript_include_tag "runs.js"

:css
  td {
    text-align: center;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
  }

  .x.axis path {
    display: none;
  }

  .js_interface {
    display: none;
  }

= link_to "Add Run", new_run_path if can? :create, @runs

#charts
  - if @years.count > 1
    %p
      = label_tag :year_filter, "Year:"
      = select_tag :year_filter, options_for_select(@years), data: { remote: true, url: runs_path, update: "test"}
  %p
    = label_tag :chart_filter, "Run Type:"
    - options = options_for_select(["All"] + Run.run_types.map{|rt| rt == 'mvc' ? rt.upcase : rt.humanize})
    = select_tag :chart_filter, options
  #chart_days
    Call frequency by day
  #chart_hours
    Call frequency by hour

#table
  = render partial: "data"