:css
  td {
    text-align: center;
  }

- days_of_week = %w|Sunday Monday Tuesday Wednesday Thursday Friday Saturday|
- weekdays = @runs.map{|r| r.date.wday}
- sorted_popularity = weekdays.inject(Hash.new(0)) do |sum_arr, day|
  - sum_arr[day] += 1
  - sum_arr
- most_popular_day = sorted_popularity.sort_by{|day| day[1]}.last[0]
%p= "Day of the week most likely to have calls: #{days_of_week[most_popular_day]}"
- weekdays = @runs.map{|r| r.date.hour}
- sorted_popularity = weekdays.inject(Hash.new(0)) do |sum_arr, hour|
  - sum_arr[hour] += 1
  - sum_arr
- most_popular_hour = sorted_popularity.sort_by{|hour| hour[1]}.last[0]
%p= "Hour of day most likely to have calls: #{pretty_time(most_popular_hour * 60)}"

%table
  %thead
    %th Date
    %th Alarm #
    %th Type
    %th Total time out
    %th # personnel responding
    %th Response time in route
    %th Response time to scene
    %th Alarm time
    %th In route
    %th First arrived
    %th In quarters
  %tbody
    - @runs.each do |run|
      %tr
        %td= run.date.strftime('%D')
        %td= run.alarm_number
        %td= run.run_type.humanize
        %td= pretty_time run.total_time_out
        %td= run.number_of_responders
        %td= pretty_time run.minutes_in_route
        %td= pretty_time run.minutes_to_scene
        %td= run.date.strftime('%R')
        %td= run.in_route_time.strftime('%R')
        %td= run.arrived_time.strftime('%R')
        %td= run.in_quarters_time.strftime('%R')