%h3= @vehicle.name

- @vehicle.compartments.each do |c|
  .compartment
    %h4= c.description
    = image_tag c.image_src if c.image_src
    %table
      %thead
        %tr
          %th Tool
          -#%th Use
          %th Quantity
      %tbody
        - c.tools.each do |t|
          %tr
            %td= t.name
            -#%td= t.use
            %td= t.quantity