#page_header
  #header_img
    = link_to image_tag("/system/cms/files/files/000/000/045/original/monroe_fire_header.jpg"), "/"
  %ul.navbar
    = link_to "/calendar" do
      %li Calendar
    = link_to "/contact-info" do
      %li Contact Info
    = link_to "/equipment" do
      %li Equipment
    = link_to "/staff" do
      %li Staff
    = link_to "/runs" do
      %li Runs
    = link_to "/board-of-directors" do
      %li Board Members
    = link_to "/pictures" do
      %li Pics
    = link_to "/links" do
      %li Links