#page_header
  = link_to image_tag('header.png')
  %ul.navbar
    = link_to homes_path do
      %li= t('home')
    = link_to calendars_path do
      %li= t('calendar')
    = link_to pictures_path do
      %li= t('pictures')
    = link_to contact_infos_path do
      %li= t('contact-info')
    = link_to equipments_path do
      %li= t('equipment')
    = link_to trainings_path do
      %li= t('online_training')
    = link_to runs_path do
      %li= t('runs')
    = link_to community_pages_path do
      %li= t('community_pages')
    = link_to other_resources_path do
      %li= t('other_resources')
