!!!
%html
  %head
    %title Monroe Rural Fire Protection District
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main
      = render 'common/header'
      #content
        = yield
      = render 'common/footer'